/* 
  12/31 2024 회고
  올해 마지막 작성하는 CSS
  Tailwind 관련 문법 
  익숙치 않아 보면서 하고 있고 일부 기존 CSS속성에서 
  tailwind.config에서 커스터마이징을 해야하는 속성이 있지만, 
  숙달되기 전까지 기존 CSS문법은 유지하기
  반복 숙달 후 커스터마이징 하기
  https://tailwindcss.com/docs/installation 
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-family: "BMEULJIROTTF";
}
body{
  @apply text-lg;
  /* font-size: 1.25em; */
  /* font-family: BMEULJIROTTF, sans-serif; */
}

@font-face {
  font-family: "BMEULJIROTTF";
  src: url("/public/fonts/BMEULJIROTTF.ttf") format("truetype");
  font-style: medium;
  font-display: swap;
}

.layout {
  /* padding: 52px 0 0 0; */
  /* padding-top: 52px; */
  @apply pt-[52px];
}

.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background: #fff; 
  z-index : 100;
  */
  
  @apply flex justify-between items-center fixed w-full h-[52px] top-0 shadow-sm bg-white z-[100];
}

.navbar__logo{
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: "BMEULJIROTTF";
  color: #000;
  padding: 0 10px;
  transition: .3s;
  /* @apply text-blue-700 text-xl font-semibold cursor-pointer px-[18px] py-0; */
}

.navbar__logo:hover {
  @apply opacity-60;
}

.navbar__list {
  /* display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 18px; */
  @apply flex gap-3 px-[18px] py-0 items-center;
}

.navbar__list--item {
  /* cursor: pointer;
  transition: .3s; */
  @apply delay-100 cursor-pointer;
}

.navbar__list--item:hover {
  /* color: #999; */
  @apply text-gray-600;
}

.navbar__button {
  /* display: none;
  cursor: pointer; */
  @apply cursor-pointer hidden;
}


@media only screen and (max-width: 600px) {
  .navbar__list {
    @apply hidden;
    /* display: none; */
  }

  .navbar--mobile {
    /* position: fixed;
    top: 52px;
    width: 100%;
    background-color: #f1ecde;
    height: 100vh; */
    @apply fixed top-[52px] w-full bg-slate-400 h-screen text-gray-700;
  }

  .navbar__button {
    /* display: block;
    padding: 0 18px; */
    @apply block py-0 px-[18px];
  }
  .navbar__button svg{
    @apply text-3xl;
  }
  .navbar__button svg path {
    /* font-size: 1.5em; */
    @apply text-4xl;
  }

  .navbar__list--item--mobile {
    /* cursor: pointer;
    border-bottom: 1px solid gray;
    transition: .3s;
    padding: 10px; */
    @apply cursor-pointer border-b border-gray-600 delay-75 py-[10px] px-[10px];
  }
  
  .navbar__list--item--mobile:hover {
    /* color: #999; */
    @apply text-gray-400;
  }

  .navbar__list--mobile {
    /* display: flex;
    flex-direction: column; */
    @apply flex flex-col 
    /* gap: 16px; */

  }
}
.infowindow {
  @apply bg-blue-900 text-white block text-sm h-6 rounded-sm px-2 leading-6;
}


@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}