/* 
  12/31 2024 회고
  올해 마지막 작성하는 CSS
  Tailwind 관련 문법 
  익숙치 않아 보면서 하고 있고 일부 기존 CSS속성에서 
  tailwind.config에서 커스터마이징을 해야하는 속성이 있지만, 
  숙달되기 전까지 기존 CSS문법은 유지하기
  반복 숙달 후 커스터마이징 하기
  https://tailwindcss.com/docs/installation 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

:root{
  --color-signature: #2ac1bc;
  --font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif; 
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; /* Edge 대응 */
  font-size: 16px;
  font-family: var(--font-family);
}
body {
  font-family: var(--font-family);
  @apply text-base font-normal;
}

@font-face {
  font-family: "BMEULJIROTTF";
  src: url("/fonts/BMEULJIROTTF.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BMHANNAAir.ttf";
  src: url("/fonts/BMHANNAAir.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.font-bm {
  font-family: "BMHANNAAir.ttf", "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
}


.layout {
  @apply pt-[68px];
}
.navbar-wrapper {
  @apply fixed top-0 left-0 w-full bg-white z-[100];
}

.navbar-container {
  @apply flex justify-between items-center h-[68px] px-4 mx-auto w-full max-w-[1200px];
}
/* .navbar__inner {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
} */

.navbar__logo {
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  font-family: "BMEULJIROTTF";
  color: #000;
  padding: 0 10px;
  transition: .3s;
}

.navbar__logo:hover {
  @apply opacity-60;
}

.navbar__logo:focus {
  outline: none;
  box-shadow: none;
}

.navbar__logo:focus-visible {
  box-shadow: 0 0 0 3px var(--color-signature);
  border-radius: 4px;
}
.navbar__list {
  /* display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 18px; */
  
  @apply flex gap-3 px-[18px] py-0 items-center;
}

.navbar__list--item, button {
  @apply delay-100 cursor-pointer font-medium text-xl;
}

.navbar__list--item:hover, .navbar__button:hover {
  /* color: #999; */
  @apply font-semibold;
}

.navbar__button {
  /* display: none;
  cursor: pointer; */
  @apply cursor-pointer hidden;
}


@media only screen and (max-width: 600px) {
  .navbar__list {
    @apply hidden;
    /* display: none; */
  }

  .navbar--mobile {
    /* position: fixed;
    top: 52px;
    width: 100%;
    background-color: #f1ecde;
    height: 100vh; */
    @apply fixed top-[52px] w-full bg-white h-screen text-gray-700 text-[19.2px] shadow-sm;
  }

  .navbar__button {
    /* display: block;
    padding: 0 18px; */
    @apply block py-0 px-[18px];
  }
  .navbar__button svg{
    @apply text-xl;
  }

  .navbar__list--item--mobile {
    /* cursor: pointer;
    border-bottom: 1px solid gray;
    transition: .3s;
    padding: 10px; */
    @apply cursor-pointer border-b border-gray-600 delay-75 py-[20px] px-[10px] font-medium text-[19.2px] font-bm;
  }
  
  .navbar__list--item--mobile:hover {
    /* color: #999; */
    @apply font-semibold;
  }

  .navbar__list--mobile {
    /* display: flex;
    flex-direction: column; */
    @apply flex flex-col;
    /* gap: 16px; */

  }
}
/* map에서 보여지는 마커 정보 스토어명 */
.infowindow {
  @apply bg-black text-white block text-sm h-6 rounded-sm px-2 leading-6;
}


@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}


.animate-slideFadeIn {
  animation-fill-mode: forwards !important;
}


@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideFadeIn {
  animation: slideFadeIn 0.4s ease-out forwards;
}

button:hover{
  opacity: .8;
}